.categoryImageIcon{
    background-color: var(--accent-grey);
    border-radius: 50%;
    width:100px;
    height: 100px;


}
.categoryImageText{
    text-align: center;
    text-transform: uppercase;
    
}
/* .categoryImageIcon:hover{
    background-color: var(--accent);

}
.categoryImageText:hover{
    color:var(--accent);
} */

/* .categoryImageIcon:hover ~ p, .categoryImageIcon:hover  {
     background-color: var(--accent); 
     color:var(--accent);
    } */

img{

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}